body {
    background-color: #121212;
}

.navbar {
    background-color: #1f1f1f !important;
}

#navbarHeader {
    background-color: #1e1e1e !important;
}

img {
    height: 160px;
}

.contact-card {
    margin-top: 4%;
    background-color: inherit !important;
}