body {
    background-color: #121212;
}

.navbar {
    background-color: #1f1f1f !important;
}

#navbarHeader {
    background-color: #1e1e1e !important;
}

img {
    height: 160px;
}

.contact-card {
    margin-top: 4%;
    background-color: inherit !important;
}

.formulario {
    text-align: center;
    width: 40%;
    margin: auto;
    border: 3px solid white;
    border-radius: 13px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 10px;
}

input:invalid {
    border: 3px solid red;
}

input:valid {
    border: 3px solid #4BB543;
}